<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>{% block page_title %}Zestify{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <div id="global-loader" class="hidden"></div>
    <div id="global-notification-container"></div>
    <main>
        {% if show_header %}
        <div class="header-bar">
            <h1>{% block header_title %}{% endblock %}</h1>
            <a href="/logout" class="logout-link">Logout</a>
        </div>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', path='/js/error_codes.js') }}"></script>
    <script src="{{ url_for('static', path='/js/helpers.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>